:root {
    --blue-background: #58c1d630;
    --blue-strong: #58c1d6;
}

/* add teams page */
.add-team-box {
    background-color: var(--blue-background);
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 0px;
    width: 85vw;
    height: 75vh;
    border-radius: 10px;
    padding: 5vh;
}

.add-team-title {
    width: 85vw;
    margin: auto;
    padding-left: 2vh;
}

.left-add-team-box {
    width: 60%;
    border-right: 1px solid white;
    padding: 2vh;
    float: left;
    height: 90%;
}

.right-add-team-box {
    width: 40%;
    padding: 2vh;
    float: right;
    height: 90%;
}

.spacing {
    margin-top: 10px;
    margin-left: 0vh;
    width: 45vw;
    float: left !important;
}

.team-profile-photo {
    border-radius: 100%;
    margin-right: 0px;
    margin-top: 5px;
    width: 12vh;
    height: 12vh;
    background-color: white;
    float: left;
}

.team-profile-photo-title {
    margin-top: 5px;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
    margin-right: 2vh;
}

/* view teams page */
.view-teams-box {
    background-color: var(--blue-background);
    margin: auto;
    margin-top: 0vh;
    margin-bottom: 0px;
    width: 85vw;
    min-height: 79vh;
    border-radius: 10px;
    padding: 5vh;
}

.team-card {
    background-color: white;
    border-radius: 15px;
    height: 12vh;
    width: 80vw;
    margin: auto;
    margin-bottom: 2vh;
    border: 2px solid var(--blue-strong);
}

.team-card-photo {
    border-radius: 100%;
    margin: 2vh;
    width: 8vh;
    height: 8vh;
    background-color: var(--blue-background);
    float: left;
    display: flex;
}

.team-card-info {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3vh;
}

.edit-button {
    float: right;
    display: inline;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vh;
    height: 4vh;
    padding: 0vh 2vh;
    border-radius: 15px;
    color: var(--blue-strong);
    border: 2px solid var(--blue-strong);
}

/* team details */
.teams-details-box {
    background-color: var(--blue-background);
    margin: auto;
    margin-top: 0vh;
    margin-bottom: 0px;
    width: 85vw;
    min-height: 79vh;
    border-radius: 10px;
    padding: 2vh;
}

.team-details-section-one {
    top: 0px !important;
    height: 45vh !important;
    width: 55vw !important;
    display: inline-block;
    overflow: auto;
    margin-bottom: 0px;
}

.team-details-section-two {
    padding: 2vh;
    height: 45vh !important;
    width: 28vw !important;
    display: inline-block !important;
    overflow: auto;
    margin-bottom: 0px;
    border-left: 2px solid white;
}

.team-details-section-three {
    height: 30vh;
    width: 83vw;
    background-color: white;
    margin-top: 0px;
}

.progress-tracker {
    margin-right: 30px !important;
}

.left-margin {
    margin-left: 30px !important;
}

.large-circular-photo {
    border-radius: 100%;
    margin: 3vh;
    width: 16vh;
    height: 16vh;
    background-color: white;
    float: left;
}

.team-name-title {
    font-size: 6vh;
    height: 10vh !important;
    margin-top: 3vh;
    padding-top: 2vh;
    margin-bottom: auto;
    margin-left: 22vh !important;
    width: 70%;
}

.team-subtitle {
    margin-left: 23vh !important;
    width: 30vw;
}

.link-area {
    background-color: white;
    padding: 2vh;
    margin-left: 23vh;
    margin-top: 2vh;
    width: 20vw;
    height: 22vh !important;
}

.team-link {
    padding: 3px;
    text-decoration: none;
    color: black;
}

.team-link:hover {
    background-color: var(--blue-strong);
    color: white;
    text-decoration: none;
}

.team-members-heading {
    text-decoration: underline;
    text-align: center;
    font-size: large;
}

.small-team-member-card {
    background-color: white;
    border-radius: 10px;
    height: 6vh;
    width: 25vw;
    margin: auto;
    margin-bottom: 2vh;
    border: 2px solid var(--blue-strong);
}

.small-card-info {
    line-height: 6vh;
    margin:auto;
}

.small-team-member-photo {
    border-radius: 100%;
    margin: 0.5vh;
    width: 4.5vh;
    height: 4.5vh;
    background-color: var(--blue-strong);
    float: left;
}

.small-team-member-info {
    margin-left: 6vh;
    height: 100%;
    line-height: 6vh;
}

/* user details page  */
.user-details-section-one {
    top: 0px !important;
    height: 74vh !important;
    width: 55vw !important;
    display: inline-block;
    overflow: auto;
    margin-bottom: 0px;
}

.user-details-section-two {
    padding: 2vh;
    top: 0px !important;
    height: 74vh !important;
    width: 28vw !important;
    display: inline-block !important;
    overflow: auto;
    margin-bottom: 0px;
    border-left: 2px solid white;
}

.user-details-form-block {
    width: 51vw;
    border-radius: 10px;
    height: 45vh;
    background-color: white;
    padding: 4vh;
    margin: 4vh;
    margin-top: 4vh !important;
    font-size: 3vh;
}

.role-dropdown {
    border: 2px solid var(--blue-strong) !important;
    width: 10vw;
    padding: 5px;
}

.role-dropdown-disabled {
    border: 2px solid gray !important;
    width: 10vw;
    padding: 5px;
    background-color: lightgrey;
}
.link {
    color: black;
    padding-right: 1vh;
    text-decoration: none;
}

.link:hover {
    color: black;
    padding-right: 1vh;
    text-decoration: underline var(--blue-strong) 2px;
}

.users-name-section {
    float: right !important;
    margin-bottom: 0px !important;
    margin-top: 7.5vh;
    margin-left: 12vh;
    position: absolute;
    font-size: 2vh;
}

.drop-filter {
    text-align: center;
    border-radius: 2px;
    color: var(--blue-strong);
    border: 2px solid var(--blue-strong) !important;
    background-color: white;
    width: 12vw !important;
    height: 2vw;
    margin-bottom: 1vh;
    float: left;
    position: relative !important;
}

.search-box {
    padding: 0vh 2vh;
    border-radius: 2px;
    color: var(--blue-strong);
    border: 2px solid var(--blue-strong);
    background-color: white;
    width: 10vw;
    height: 2vw;
    margin-bottom: 1vh;
    float: right;
    text-align: center;
}

.search-box:focus {
    color: var(--blue-strong);
}

.search-btn {
    width: 2vw;
    height: 2vw;
    text-align: center;
    color: var(--blue-strong);
    background-color: white;
    border: 2px solid var(--blue-strong);
    border-right: none;
    padding:0px;
    margin: auto;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.not-found-message {
    margin: auto;
    line-height: 12vh;
    text-align: center;
    font-size: 30px;
    color: var(--blue-strong);
    border: 3px solid white;
    border-radius: 15px;
}

.top-margin {
    margin-top: 8vh;
}

.edit-user-box {
    background-color: var(--blue-background);
    margin: auto;
    margin-bottom: 0px;
    height: 75vh;
    border-radius: 10px;
    padding: 5vh;
}

.photo-section {
    height: 16vh;
    display: block;
}

.edit-title {
    display: inline;
}

.edit-photo {
    width: 20vw !important;
    display: inline !important;
}

.edit-button:hover {
    text-decoration: underline 1px var(--blue-strong);
}