:root {
    --blue-highlight: #58c1d6;
}

.btn-primary{
        color: white !important;
        border-color: var(--blue-highlight) !important;
        background-color: var(--blue-highlight) !important;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 1% 2%;
        width: 10vw;
}

.epic-time {
    overflow-x: scroll;
}
.epic-container {
    color: white;
    text-align: center;
    background: #d3d7dc20;
    border-radius: 10px;
    margin: 10%;
    margin-right: 5px;
    min-width: 200px;
    min-height: 100%;
}

.epic-box {
    color: white;
    text-align: left;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 180px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.story-box {
    color: black;
    text-align: left;
    padding: 10px 10px 10px 10px;
    background: white;
    border-radius: 15px;
    margin: 20px 10px 20px 10px;
    width: 180px;
    height: 90px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.add-story-box {
    text-align: center;
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    background: white;
    border-radius: 15px;
    margin: 5%;
    width: 180px;
    height: 90px;
    display: table;
}

.inner-add-story-box {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 100%;
    background: white;
    margin: auto;
    width: 100%;
    height: 80px;
}

.stat-bar-btn {
    margin: auto !important;
    margin-bottom: 1% !important;
    margin-right: 5% !important;
    float: right !important;
}

.colour-picker {
    float: left
}

.colour-example {
    border-radius: 10px;
    padding: 1% 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.story-title {
    font-size: 100%;
    width: 80%;
    float: left;
    display: inline;
    margin-bottom: 0px;
}

.story-profile-photo {
    border-radius: 200%;
    padding: 2%;
    width: 20%;
    float: right;
    display: inline;
    color: white;
}

.story-priority {
    font-size: 80%;
    float: left;
    display: block;
}

.checkbox-styling label {
    margin-right: 10px;
}

.story-drag-and-drop {
    margin: 30px;
}

.right-modal {
    float: right;
    border-radius: 0px;
}

.details-modal {
    height: 100vh;
    width: 100vw;
}

.coloured-header {
    margin: 1vh !important;
    margin-bottom: 0px;
    width: 59vw;
    max-height: 16vh;
    color: white;
    padding-bottom: 0px;
    border-radius: 2vw !important;
}

.details-title {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-bottom: 2px;
    width: 60vw;
}

.details-id {
    font-size: 20px;
    float:right;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 5vw;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 60vw;
}

.details-box-header {
    width: 32vw;
    color: white;
    height: 6vh;
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 10px;
    vertical-align: middle;
}

.details-box-large {
    width: 32vw;
    color: black;
    height: 18vh;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
    padding: 5px 10px;
    overflow-y: scroll;
} 

.details-box-small {
    width: 32vw;
    color: black;
    height: 11vh;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
    padding: 5px 10px;
    overflow-y: scroll;
}

.details-stories-header {
    width: 32vw;
    height: 6vh;
    font-size: 20px;
    padding: 10px;
    vertical-align: middle;
}

.details-stories {
    width: 32vw;
    height: 5vh;
    color: black;
    height: 6vh;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0px;
    display: block;
}

.details-left-col {
    width: 35vw;
    float: left;
}

.details-right-col {
    margin-left: 20px;
    padding-left: 10px;
    width: 25vw;
    float: left;
}

.details-heading {
    font-size: 20px;
}

.epic-stories-scrollable {
    height: 35vh;
}

.details-story-points {
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    font-size: 2vw;
    color: white;
    border-radius: 15px;
    text-align: center;
}

.details-tag {
    font-size: 2vh;
    border-radius: 15px;
    padding: 0px 1vw;
    margin-right: 1vw; 
    margin-bottom: 1vh; 
    margin-top: 0px;
    width: auto;
    display: inline-block;
    color: white;
}

.details-state {
    padding-left: 10px;
}

.details-priority {
    padding-left: 10px;
}

.add-story-left-col {
    width: 29vw;
    float: left;
    margin-left: 0.5vw;
}

.add-story-right-col {
    margin-left: 2vw;
    margin-right: 0.5vw;
    width: 29vw;
    float: left;
}

.details-value {
    font-size: 2vh;
    border-radius: 15px;
    padding: 0.5vh 0.6vw;
    margin-right: 0.5vw; 
    margin-left: 0.5vw; 
    margin-bottom: 1vh; 
    width: 96%;
    display: inline-block;
}

.details-value-title{
    margin-bottom: 0px;
    font-size: 16px;
}

.details-value-description{
    margin-bottom: 0px;
    padding-left: 0.2vw;
    font-size: 10px;
}

.values-scrollable {
    margin-top: 0px;
    height: 11vh;
    width: 32vw;
}

.values-scrollable-epic {
    margin-top: 0px;
    height: 22vh;
    width: 32vw;
}

.text-center {
    margin: auto;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.epic-stat {
    text-align: center;
    font-size: 3vh;
    margin-left: 5vw;
    margin-top: 0px;
    margin-bottom: 1vh;
}

.choice-section {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    width: 20vw;
    display: inline;
}
.choice-button {
    color: white !important;
    background-color: var(--blue-highlight) !important;
    padding: 1vh;
    width: 10vw;
    display: inline;
    border-width: 0px;
}

.display-box{
    width: 90vw;
    height: 100%;
    background-color:#e8e8e820;
    padding-top: 2vh;
    overflow-y: scroll;
}

.centered {
    margin: auto;
    margin-top: 5vh;
    width:90vw;
    height:80vh;
}

.tag-list {
    border-radius: 15px;
    margin: 2vh;
    padding: 2vh;
}

.tag-title {
    margin-bottom: 0px;
    font-size: 2.7vh;
}

.tag-description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2vh;
}

.right-button {
    float: right !important;
    display: inline;
}

.tag-edit-button {
    float: right;
    display: inline;
    margin: 0px;
    padding: 0vh 2vh;
    border-radius: 15px;
    color: white;
}

/* Epic details form  */
.details-form-title {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-bottom: 2px;
    width: 59vw;
}