:root {
    --blue-highlight: #58c1d6;
}

.btn-primary{
        color: white !important;
        border-color: var(--blue-highlight) !important;
        background-color: var(--blue-highlight) !important;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 1% 2%;
        float: left
}

.epic-container {
    color: white;
    text-align: center;
    background: rgba(211, 215, 220, 0.231);
    border-radius: 10px;
    margin: 1%;
    min-width: 15%;
    min-height: 100%;
}

.epic-box {
    color: white;
    text-align: left;
    padding: 15px 10px 10px 10px;
    border-radius: 15px;
    margin: 5%;
    min-width: 90%;
    min-height: 20%;
}

.story-box {
    color: black;
    text-align: left;
    padding: 10px 10px 10px 10px;
    background: white;
    border-radius: 15px;
    margin: 5%;
    min-width: 90%;
    min-height: 30%;
}

.add-story-box {
    color: black;
    text-align: center;
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    background: white;
    border-radius: 15px;
    margin: 5%;
    min-width: 90%;
    min-height: 100%;
}