:root {
    --blue-highlight: #58c1d6;
    --blue-background: #58c1d630;
    --transparent-grey: #d3d7dc20;
    --completed-grey: #c7c7c7;
}

.home-welcome {
    text-align: center;
    font-size: 5vh;
    margin: auto !important;
    padding: 0px;
    color: white;
    margin-top: -16px !important;
    line-height: 20vh;
}

.home-blurb {
    border-right: 2px solid var(--blue-highlight) !important;
    border-left: 2px solid var(--blue-highlight) !important;
    border-bottom: 2px solid var(--blue-highlight) !important;
    margin: auto;
    padding: 3vh;
    margin-left: 5.5vh;
    margin-top: -3vh !important;
    margin-bottom: 0px;
    display: none;
    overflow: hidden;
    width: 95vw !important;
    overflow-y: auto;
    background-color: #58c1d6;
    color: white;
}

.collapsible-symbol {
    color: var(--blue-highlight);
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
}

.collapsible {
    border: 2px solid var(--blue-highlight) !important;
    background-color: white;
    cursor: pointer;
    padding: 3vh;
    width: 90vw;
    height: 10vh;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5.5vh;
    margin-top: 4vh;
    margin-bottom: 3vh;
    width: 95vw;
    margin-right: 0px !important;
}

.active,
.collapsible:hover {
    background-color: var(--blue-background);
}

.home-img {
    width: calc(var(--vw, 1vw) * 100);
    height: 91.6vh;
    object-fit: contain;
    background-color: #58c1d6;
    display: block;
    top: 60px;
    margin: 0px !important;
    padding: 0px !important;
}

.home-img-background {
    background-color: #58c1d6;
    overflow-x: hidden;
    margin-top: -16px !important;
}

.white-text {
    color: white;
}

.help-banner {
    font-size: 70px;
    width: 100%;
    height: 20vh;
    font-weight: 600;
    background-image: linear-gradient(to left, var(--blue-background), var(--blue-highlight), var(--blue-background));
  }