:root {
    --blue-highlight: #58c1d6;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
}


.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}


.nav-item {
    text-decoration: none;
    font-size: 17px;
    color: #545454;
}


/* Animation for nav bar components*/
a.nav-item:link {
    text-decoration: none;
}
a.nav-item:visited {
    text-decoration: none;
}
a.nav-item:active {
    text-decoration: none;
}

.nav-item {
    transition: all 0.75s;
    cursor: pointer;
    margin: 0px;
}
.nav-item span {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.75s;
    text-decoration: none;
    color: #545454;
}

.nav-item span:after {
    content: '\00bb';
    opacity: 0;
    right: -10px;
    transition: 0.75s;
    color: white;
}

.nav-item:hover span {
    color: white;
    background-color: var(--blue-highlight);
}

.nav-item:hover span:after {
    opacity: 1;
    right: 0;
}