:root {
    --blue-background: #58c1d640;
}


.login-box {
    background-color: var(--blue-background);
    margin: auto;
    margin-top: 12vh;
    width: 30vw;
    height: 60vh;
    border-radius: 10px;
    padding: 5vh;
}

.sign-up-box {
    background-color: var(--blue-background);
    margin: auto;
    margin-top: 5vh;
    width: 65vw;
    height: 82vh;
    border-radius: 10px;
    padding: 5vh;
}

.login-button {
    margin: auto !important;
    width: 10vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.blocked-button-div {
    width: 65vw !important;
    background-color: pink;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.display-border {
    border-right: 2px solid white;
}