<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static "styling/basicStyleSheet.css" %}" />
        <link rel="stylesheet" href="{% static "styling/navbar.css" %}" />
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        App name - 
        {% block title_block %}
            <p> This is the default base template's title</p>>
        {% endblock %}
    </head>

    <body>
        {% block navbar_block %}
            <div id="js-navbar"></div>
            <p> boop </p>
            <div id="like_button_container"></div>
        {% endblock %}
            
        {% block body_block %}
            <p> This is the default base template's body </p>
        {% endblock %}

        <div id="like_button_container"></div>

        <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script> 
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> 
        <script src="{% static '/components/navbar.js' %}"></script> 
    </body>

    
    
</html>