{% extends 'web_app/baseTemplate.html' %}
{% load static %}

{% block title_block %}
    <title> Epic Dashboard </title>
{% endblock %}


{% block body_block %}

    <h1>Epics Dashboard</h1>

    <div>
        <br/>
        <p> stats overview banner here?</p>
        <br/>
    </div>

    <div>
        <br/>
        <button className = "addButton"> Add new epic button </button>
        <br/>
    </div>

    <div>
        <div> 
            <p> list of epics goes here</p>
        </div>
        
        <div>
            <p> list of stories goes here </p>
            <p> add button below last of each story</p>
        </div>

    </div>

{% endblock %}
        