/* styling for logo bar */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html { font-size: 16px; }
  }
  
  /* styling for navigation bar(s) */
  
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
  }
  
  .nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 12vw;
  }
  
  .nav-section-active {
    background-color: var(--green-strong);
  }
  
  .nav-dropdown {
    background-color: var(--green-strong);
    display: none;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
  }
  
  .nav-dropdown-item {
    padding: 5px;
  }
  
  .arrow {
    font-size: 35px;
    text-align: center;
    transition-duration: 0.5s;
  }
  
  .arrow-rotate {
    transform: rotate(90deg);
  }